body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black
}

#footer {
  text-align: center;
  background-color: #333333;
  color: whitesmoke;
  padding: 3em;
  margin-top: 5%;
}

a:visited {
  color: black;
}

#header {
  margin-left: 5em;
  margin-right: 5em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5em;
}

.service {
  border: 1px solid black;
  width: 20%;
  margin: 1em;
}

.item-list {
  margin: auto;
  margin-top: 5em;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details {
  text-align: center;
  margin: 2%;
}

.details > div:first-child {
  padding-bottom: 5px;
}

.details > div:last-child {
  padding-top: 5px;
}

.basket > p {
  font-size: 3.5em;
  text-align: center;
  margin: auto;
  padding: 1em;
  font-weight: 900;
  color: #000e29;
}

.summary {
  width: 70%;
  text-align: right;
  margin: auto;
  font-size: 2em;
  color: #000e29;
  padding-top: 1em;
  padding-bottom: 1em;
}

.checkout {
  width: fit-content;
  text-align: right;
  margin: auto;
  font-size: 2em;
  padding: 1em;
  background-color: #000e29;
  margin-right: 15%;
  border-radius: 50000px;
  color: #efefef;
}

.basket-item {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 10em;
  margin: auto;
  margin-bottom: 1em;
  border: 1px solid #efefef;
  background-color: #fafafa;
}

.customer-info > form > input {
  padding: 1em;
  margin: 1em;
}

.checkout-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}